/coverage
/node_modules
/public/css
/public/js
/public/fonts
/public/hot
/public/storage
/public/vendor
/public/mix-manifest.json
/storage/*.key
/vendor
*.sublime-project
*.sublime-workspace
_ide_helper.php
.DS_Store
.env
.env.backup
.env.production
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
.phpstorm.meta.php
.project
Homestead.json
Homestead.yaml
Thumbs.db
auth.json
composer.lock
composer.phar
coverage.xml
docker-compose.override.yml
error.log
package-lock.json
npm-debug.log
output.txt
yarn-error.log
yarn.lock
/.fleet
/.idea
/.vscode
